@{
    ViewData["Title"] = "Quản Lý Khách Hàng";
}

@Html.AntiForgeryToken()

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Quản Lý Khách Hàng</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                    <li class="breadcrumb-item active">Khách Hàng</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh Sách Khách Hàng</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#createCustomerModal">
                                <i class="fas fa-plus"></i> Thêm Khách Hàng Mới
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="customerTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tên</th>
                                    <th>Email</th>
                                    <th>Số Điện Thoại</th>
                                    <th>Địa Chỉ</th>
                                    <th>Ngày Tạo</th>
                                    <th>Trạng Thái</th>
                                    <th>Thao Tác</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Create Customer Modal -->
<div class="modal fade" id="createCustomerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h4 class="modal-title">Add New Customer</h4>
                <button type="button" class="close text-white" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <form id="createCustomerForm">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="createName">Customer Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control form-control-sm" id="createName" name="Name" required maxlength="200">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="createPhone">Phone Number <span class="text-danger">*</span></label>
                                <input type="tel" class="form-control form-control-sm" id="createPhone" name="Phone" required maxlength="20">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="createEmail">Email</label>
                                <input type="email" class="form-control form-control-sm" id="createEmail" name="Email" maxlength="200">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="createAlternativePhone">Alternative Phone</label>
                                <input type="tel" class="form-control form-control-sm" id="createAlternativePhone" name="AlternativePhone" maxlength="20">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="createContactPersonName">Contact Person Name</label>
                                <input type="text" class="form-control form-control-sm" id="createContactPersonName" name="ContactPersonName" maxlength="200">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="createAddress">Address</label>
                        <textarea class="form-control form-control-sm" id="createAddress" name="Address" rows="3" maxlength="500"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                        <i class="fas fa-times"></i> Close
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fas fa-save"></i> Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Customer Modal -->
<div class="modal fade" id="editCustomerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h4 class="modal-title">Edit Customer Information</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <form id="editCustomerForm">
                <div class="modal-body">
                    <input type="hidden" id="editId" name="Id">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="editName">Customer Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control form-control-sm" id="editName" name="Name" required maxlength="200">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="editPhone">Phone Number <span class="text-danger">*</span></label>
                                <input type="tel" class="form-control form-control-sm" id="editPhone" name="Phone" required maxlength="20">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="editEmail">Email</label>
                                <input type="email" class="form-control form-control-sm" id="editEmail" name="Email" maxlength="200">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="editAlternativePhone">Alternative Phone</label>
                                <input type="tel" class="form-control form-control-sm" id="editAlternativePhone" name="AlternativePhone" maxlength="20">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="editContactPersonName">Contact Person Name</label>
                                <input type="text" class="form-control form-control-sm" id="editContactPersonName" name="ContactPersonName" maxlength="200">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editAddress">Address</label>
                        <textarea class="form-control form-control-sm" id="editAddress" name="Address" rows="3" maxlength="500"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                        <i class="fas fa-times"></i> Close
                    </button>
                    <button type="submit" class="btn btn-warning btn-sm">
                        <i class="fas fa-save"></i> Update
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/customer-management.js"></script>
    <script>
        $(document).ready(function() {
            CustomerManagement.init();
        });
    </script>
}
