<!-- Create Appointment Modal -->
<div class="modal fade modal-with-select2" id="createAppointmentModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h4 class="modal-title">Thêm Lịch Hẹn Mới</h4>
                <button type="button" class="close text-white" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <form id="createAppointmentForm">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="createCustomerId">Khách Hàng <span class="text-danger">*</span></label>
                                <select class="form-control form-control-sm select2" id="createCustomerId" name="CustomerId" required style="width: 100%;">
                                    <option value="">-- Chọn Khách Hàng --</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="createVehicleId">Xe <span class="text-danger">*</span></label>
                                <select class="form-control form-control-sm select2" id="createVehicleId" name="VehicleId" required style="width: 100%;">
                                    <option value="">-- Chọn Xe --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="createAppointmentDate">Ngày Hẹn <span class="text-danger">*</span></label>
                                <input type="date" class="form-control form-control-sm" id="createAppointmentDate" name="AppointmentDate" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="createAppointmentTime">Giờ Hẹn <span class="text-danger">*</span></label>
                                <input type="time" class="form-control form-control-sm" id="createAppointmentTime" name="AppointmentTime" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="createServiceType">Loại Dịch Vụ <span class="text-danger">*</span></label>
                                <select class="form-control form-control-sm" id="createServiceType" name="ServiceType" required>
                                    <option value="">-- Chọn Loại Dịch Vụ --</option>
                                    <option value="Maintenance">Bảo Dưỡng</option>
                                    <option value="Repair">Sửa Chữa</option>
                                    <option value="Inspection">Kiểm Tra</option>
                                    <option value="Oil Change">Thay Dầu</option>
                                    <option value="Other">Khác</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="createAssignedEmployeeId">Nhân Viên Phụ Trách</label>
                                <select class="form-control form-control-sm select2" id="createAssignedEmployeeId" name="AssignedEmployeeId" style="width: 100%;">
                                    <option value="">-- Chọn Nhân Viên --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="createDescription">Mô Tả</label>
                        <textarea class="form-control form-control-sm" id="createDescription" name="Description" rows="3" maxlength="1000"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                        <i class="fas fa-times"></i> Đóng
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fas fa-save"></i> Lưu
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>