@{
    ViewData["Title"] = "Quản Lý Đơn Hàng";
}

@Html.AntiForgeryToken()

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Service Order Management</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="breadcrumb-item active">Service Orders</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Service Order List</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#createOrderModal">
                                <i class="fas fa-plus"></i> Create New Order
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="orderTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Số Đơn Hàng</th>
                                    <th>Khách Hàng</th>
                                    <th>Xe</th>
                                    <th>Ngày Đặt</th>
                                    <th>Tổng Tiền</th>
                                    <th>Trạng Thái</th>
                                    <th>Thao Tác</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- View Order Modal -->
<div class="modal fade" id="viewOrderModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h4 class="modal-title">Order Details</h4>
                <button type="button" class="close text-white" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Order Number:</label>
                            <p id="viewOrderNumber" class="form-control-static"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Order Date:</label>
                            <p id="viewOrderDate" class="form-control-static"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Customer:</label>
                            <p id="viewCustomerName" class="form-control-static"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Vehicle:</label>
                            <p id="viewVehicleLicensePlate" class="form-control-static"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Total Amount:</label>
                            <p id="viewTotalAmount" class="form-control-static"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Status:</label>
                            <p id="viewStatus" class="form-control-static"></p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Description:</label>
                    <p id="viewDescription" class="form-control-static"></p>
                </div>
                <div class="form-group">
                    <label>Order Items:</label>
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>Mặt Hàng</th>
                                <th>Số Lượng</th>
                                <th>Đơn Giá</th>
                                <th>Thành Tiền</th>
                            </tr>
                        </thead>
                        <tbody id="viewOrderItems">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                    <i class="fas fa-times"></i> Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Include Modal Partial Views -->
@await Html.PartialAsync("_EditOrderModal")

@section Scripts {
    <script src="~/js/order-management.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function() {
            OrderManagement.init();
        });
    </script>
}
